/* button.css - component
====================================================================== */

/* Examples
-------------------- */

/* ```
<a class="button" href="{url}">Button</a>
``` */

/* Button
-------------------- */

.button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: .8em 1.5em;
    border: none;
    color: inherit;
    vertical-align: middle;
    text-align: center;
    font: inherit;
    cursor: pointer;
    user-select: none;
}

/* Colors */

.button--tomato {
    background: var(--color-tomato);
    color: #fff;
}

/* Sizes */

.button--x-small { }

.button--small { }

.button--medium { }

.button--large { }

.button--x-large { }

.button--full {
    display: block;
    width: 100%;
}

/* States */

.button:hover {
    text-decoration: none;
}

.button:disabled,
.button.is-disabled {
    opacity: .6;
    cursor: default;
    pointer-events: none;
}
