/* clearfix.css - utility
====================================================================== */

/* Clearfix
-------------------- */

.u-cf:before,
.u-cf:after {
    display: table;
    content: "";
}

.u-cf:after {
    clear: both;
}
